# Java / Spring Boot
target/
build/
.gradle/

# Compiled files
*.class

# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml
*.classpath
*.project
.settings/

# OS
.DS_Store
Thumbs.db

# Environment / Secrets
.env
application-local.properties
application-dev.properties

# Crash logs
hs_err_pid*
replay_pid*
